  <div class="footer">
        <img src="resources/logo.png" alt="Travel Dial" />
        <div>
          <ul>
            <li><a href="/About">About</a></li>
            <li><a href="/Pricing">Pricing</a></li>
            <li><a href="/Company">Company</a></li>
            <li><a href="/Blog">Blog</a></li>
          </ul>
          </div>
      </div>
  </div>
