  <div class="header">
    <a href="/"><img src="resources/logo.png" alt="Travel Dial" /></a>
    <div>
      <ul>
        <li><a href="/Destinations">Destinations</a></li>
        <span id="galleryscroll">
          <li><a>Gallery</a></li>
        </span>
       <span id="aboutscroll"> <li><a href="/About">About</a></li></span>
        <li><a href="/Login">Login/Signup</a></li>
        <li><a href="/Partner">Partner with us</a></li>
      </ul>
    </div>
  </div>
