.footer ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.footer a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 14pt;
  text-align: center;
}

.footer img {
  width: 130px;
  height: auto;
}

.footer {
  display: flex;
  background: #00675b;
  justify-content: flex-start;

  width: 100%;
  height: 55px;
  padding: 2px;
}
