body {
  margin: 0px;
}
.main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  height: 100vh;

  background: #fff8dc;
  padding: 32px;
}

img {
  width: 250px;
  height: 250px;
}

/* Form */

.r1 {
  display: flex;
  justify-content: flex-start;
  margin: 8px;
  gap: 200px;
}

/* Description Box */
.r2 > input {
  width: 63.3vh;
  height: 100px;
  text-align: center;
}

input[type="text"] {
  border: 1px solid #e2e1e5;
  border-radius: 6px;
  padding: 8px;
  font-size: 10.5pt;
}

/* Itenaries */
.itenaries {
  background: white;
  border-radius: 6px;
  border: 1px solid #e2e1e5;
  padding: 9px;
}
ul {
  list-style-type: none;
  padding: 0px;
}
li {
  margin: 2px;
}
.add-days-button {
  background: none;
  border: 0px;
}
.add-days-button:hover {
  border: 1px solid black;
  border-radius: 8px;
  padding: 3px;
  font-size: 11pt;
}

/* Amenities */
.amenities {
  display: flex;
  flex-flow: column;
  background: #fff8dc;
  width: 50%;
}
h2 {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}

.r3 {
  margin: 8px;
  display: flex;
  justify-content: space-around;
}

.amenity {
  margin: 2px;
}

.button1 {
  display: flex;
  justify-content: center;
  margin: 12px;
}
.button1 > button {
  padding: 16px;
  border-radius: 32px;
  border: 0px solid;
  background: #00675b;
  color: #ffffff;
  font-weight: bold;
}
.button1 > button:hover {
  text-decoration: underline;
  font-size: 10.5pt;
  font-weight: bolder;
}
